<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>助老帮帮团</title>
    <link  rel="stylesheet" href="../css/init.css">
    <link  rel="stylesheet" href="../css/view.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
<div class="content">
    <div class="logo_title">
        <div class="w1000 header">
            <img src="../images/logo.png">
        </div>
    </div>
    <div class="navigate">
        <div class="w1000">
            <a href="index.html">活动要闻</a>
            <a href="counseling.html">养老咨询</a>
            <a href="service.html">专题服务</a>
            <a class="active" href="interflow.html">交互交流</a>
        </div>
    </div>
    <div class="main">
        <div class="w1000">
            <div class="cl6 hl10">
                <div class="hl7">
                    <div class="lb-box fullbox">
                        <div class="lxhs">
                            <div class="title-bg">
                                <p class="lt-title">来信回声 <span class="more-span">&lt;更多&gt;</span></p>
                            </div>
                            <div class="text-list">
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hl3">
                    <div class="lb-box">
                        <p class="lt-title">联系我们</p>
                        <div class="info">
                            <p>联系地址 ： 句容市龙锦新天地2号楼710室</p>
                            <p>邮政编码 ： 212400</p>
                            <p>联系电话 ： 1382439898</p>
                            <p>网&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 址： WWW.JRZLBBT.COM.CN</p>
                            <p>电子邮件 ： xxx@xx.com</p>
                        </div>
                        <div class="erwm">
                            <img src="../images/ewm.png">
                            <p>句容市助老帮帮团</p>
                            <p>微信官方平台</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cl4 hl10">
                <div class="hl7">
                    <div class="table-box">
                        <div class="tabs">
                            <div class="title-bg">
                                <p class="lt-title">常见问题解答 <span class="more-span">&lt;更多&gt;</span></p>
                            </div>
                            <div class="text-list">
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                                <p class="lxhs-text"><img src="../images/bt-arrow.png" alt=""> <span>来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题来信回声标题</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hl3">
                    <div class="table-box">
                        <div class="cars jyyly">
                            <div class="car-title-img">
                                <img src="../images/cartb.png">
                            </div>
                            <div class="car-img">
                                <div class="bor-box">
                                    <img src="../images/jylc.png">
                                </div>
                            </div>
                            <div class="car-img">
                                <div class="bor-box">
                                    <img src="../images/zlxx.png">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        COPYRIGHT@2019 句容市助老帮帮团 镇ICP766号 技术支持：苏黎世科技有限公司
    </div>
</div>
</body>
</html>